@font-face {
    font-family: "Prosto";
    src: url("public/style/prosto-one.ttf");
}

html {
    font-family: "Prosto";
}

body {
    margin: 0;
}

.amogus-start-title {
    font-size: 50px;
}

.amogus-start-title {
    text-align: center;
}

.amogus-start-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 30px;
}

.amogus-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: yellow;
    background-image: url('logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.amogus-start-buttons-container {
    width: 100%;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
}

.amogus-button {

}

.amogus-button-specifications {
    margin-left: 60%;
    text-align: center;
    font-size: 70px;
    height: 100px;
    background-color: #fff;
    padding-top: 30px;
    box-shadow: 20px 20px 0 rgba(247,22,255,1);
    width: 200px;
    margin-bottom: 50px;
    transform: skew(15deg, 0);
    transform: rotate(10deg);
}

.amogus-button-specifications span {
    transform: rotate(-10deg);
    display: block;
}

.amogus-buttons-start {
    width: 85%;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    font-size: 55px;
    margin-left: auto;
    margin-right: auto;
    border: 1px #ccc solid;
    margin-bottom: 130px;
    background-color: #28FEFD;
    box-shadow: 20px 20px 0 rgba(247,22,255,1);
    transform: skew(-30deg, 0);
}

.amogus-buttons-start span {
    transform: skew(30deg, 0);
    display:block;
}

.amogus-name-field {
    width: 86%;
    height: 120px;
    padding-top: 20px;
    font-size: 45px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    border: none;
    border-bottom: 5px #ccc solid;
    margin-bottom: 150px;
    padding-left: 4%;
    outline:none;
}

.amogus-name-field:focus {
    border-bottom: 5px #E238A7 solid;
}

.amogus-name-field::placeholder {
    color: #ccc;
}

.amogus-start-photo-container {
    width: 500px;
    height: 500px;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 500px;
    background-image: url('camera.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: yellow;
}

.amogus-imposter-project {
    background-color: #ccc;
    height: 1600px;
}

.amogus-tasks-container {
    border-top: 1px black solid;
    font-size: 30px;
}

.amogus-task {
    display: flex;
    justify-content: space-between;
}

.amogus-task-take-button {
    border: 1px black solid;

}

.amogus-start-container {
    position: absolute;
    width: 100%;
    top: 10vh;
    z-index: 200;
    height: 100%;
}

.amogus-start-container-show {
    display: block;
}

.amogus-start-container-hide {
    display: none;
}

.amogus-start-form {
    border-radius: 50px 50px 0 0;
    background-color: #fff;
    height: 100%;
    padding-top: 100px;
}

.amogus-dark-backgruond {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 100;
}

.amogus-dark-background-show {
    display: block;
}

.amogus-dark-background-hide {
    display: none;
}

.amogus-specificationis-container {
    position: absolute;
    top: 3%;
    z-index: 200;
    height: 100%;
}

.amogus-specifications-header {
    font-weight: bold;
    font-size: 40px;
    color: #000;
}

.amogus-specificationis-text {
    background-color: #fff;
    color: #999;
    border-radius: 50px 50px 0 0;
    height: 98.5%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    line-height: 40px;
}

.amogus-handle {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 0.5%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1%;
}

.amogus-specificationis-container-show {
    display: block;
}

.amogus-specificationis-container-hide {
    display: none;
}