<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>The game</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<div id="game"></div>
{{ encore_entry_script_tags('game') }}

</body>
</html>