<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Amogus Project</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<div class="amogus-container">



    <div id="game"></div>
    {{ encore_entry_script_tags('game') }}

    <div class="amogus-start-buttons-container">
        <div class="amogus-button amogus-button-specifications" onclick="showSpecificationPopup()" href="#"><span>?</span></div>
        <div class="amogus-button amogus-buttons-start" onclick="showLoginPopup()"><span>Начать игру</span></div>
    </div>
    <div id="startPopup" class="amogus-start-container amogus-start-container-hide">
        <div class="amogus-handle">
        </div>
        <div class="amogus-start-form">
            <form name="user_form" method="post" action="/login" novalidate="novalidate" enctype="multipart/form-data">
                <label for="user_form_avatarFile_file" id="imageContainer" class="amogus-start-photo-container"></label>
                <input hidden id="user_form_avatarFile_file" name="user_form[avatarFile][file]"  type="file" onchange="onFileSelected(event)">
                <input id="user_form_name" name="user_form[name]" class="amogus-name-field" placeholder="Введите имя">
                <button id="user_form_save" name="user_form[save]" class="amogus-button amogus-buttons-start"><span>Начать игру</span></button>
            </form>
        </div>
    </div>
    <div id="specificationPopup" class="amogus-specificationis-container amogus-specificationis-container-hide">
        <div class="amogus-handle">
        </div>
        <div class="amogus-specificationis-text">
            <p class="amogus-specifications-header">Суть игры:</p>
            <p>
                Исследователи выделяют два типа игр: состязание (борьба) и представление (маскарад).
                «Мафия» удачно сочетает в себе черты обоих типов. Она одновременно и шоу, и борьба
                за выживание. В отличие от карт эта игра никак не связана с деньгами, в отличие от гольфа
                не требует финансовых затрат, в отличие
                от футбола хорошей физической подготовки. Самое главное: она приносит столь ценимое интеллектуальное удовольствие. В бескорыстной несерьёзности игры скрыт её потенциал.
            </p>
            <p>
                Эта игра уникальна. Базируется, прежде всего, на общении, на обсуждениях между участниками. Здесь постоянно происходят и фактически узаконены обман и коварство,
                заключение и подлое нарушение договоров и альянсов. Обсуждение игрового положения проходит путём столкновения мнений в беспрестанных спорах, при этом одни игроки предпочитают отмалчиваться,
                другие @ наоборот, активно и шумно участвуют в обсуждении. Таким образом, игра оказывается бесконечно далека от беспристрастного поединка интеллектов,
                характерного для некоторых настольных игр (например, шахмат, Го), и это приближает её к реальной жизни. Цель игры @ выжить своей командой.
                Игра состоит из двух основных компонентов: психологического и математического.
            </p>

        </div>
    </div>
    <div id="darkBackground" class="amogus-dark-backgruond amogus-dark-background-hide">
    </div>
</div>
</body>
</html>

<script>
function showLoginPopup() {
	document.getElementById('startPopup').className = 'amogus-start-container amogus-start-container-show';
	document.getElementById('darkBackground').className = 'amogus-dark-backgruond amogus-dark-background-show';
}
function showSpecificationPopup() {
	document.getElementById('specificationPopup').className = 'amogus-specificationis-container amogus-specificationis-container-show';
	document.getElementById('darkBackground').className = 'amogus-dark-backgruond amogus-dark-background-show';
}
document.getElementById('darkBackground').onclick = function() {
	document.getElementById('startPopup').className = 'amogus-start-container amogus-start-container-hide';
	document.getElementById('specificationPopup').className = 'amogus-specificationis-container amogus-specificationis-container-hide';
	document.getElementById('darkBackground').className = 'amogus-dark-backgruond amogus-dark-background-hide';
}
function onFileSelected(event) {
	var selectedFile = event.target.files[0];
	var reader = new FileReader();

	var imgtag = document.getElementById("imageContainer");
	imgtag.title = selectedFile.name;

	reader.onload = function(event) {
		imgtag.style.backgroundImage = "url('" + event.target.result + "')";
		imgtag.style.backgroundSize = "cover";
	};

	reader.readAsDataURL(selectedFile);
}
</script>